@media screen and (max-width: 575px) {

    .cell-xsm-full,
    .col-xsm-full {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cell-xsm-half,
    .col-xsm-half {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .cell-xsm-one-third,
    .col-xsm-one-third {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333%;
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }

    .cell-xsm-two-third,
    .col-xsm-two-third {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666%;
        flex: 0 0 66.6666666%;
        max-width: 66.6666666%;
    }

    .cell-xsm-quarter,
    .col-xsm-quarter {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .cell-xsm,
    .col-xsm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .cell-xsm-auto,
    .col-xsm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: none;
    }

    .colspan-xsm-1,
    .cell-xsm-1,
    .col-xsm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333335%;
        flex: 0 0 8.333335%;
        max-width: 8.333335%;
    }

    .offset-xsm-1 {
        margin-left: 8.333335%;
    }

    .colspan-xsm-2,
    .cell-xsm-2,
    .col-xsm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .offset-xsm-2 {
        margin-left: 16.66667%;
    }

    .colspan-xsm-3,
    .cell-xsm-3,
    .col-xsm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25.000005%;
        flex: 0 0 25.000005%;
        max-width: 25.000005%;
    }

    .offset-xsm-3 {
        margin-left: 25.000005%;
    }

    .colspan-xsm-4,
    .cell-xsm-4,
    .col-xsm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33334%;
        flex: 0 0 33.33334%;
        max-width: 33.33334%;
    }

    .offset-xsm-4 {
        margin-left: 33.33334%;
    }

    .colspan-xsm-5,
    .cell-xsm-5,
    .col-xsm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666675%;
        flex: 0 0 41.666675%;
        max-width: 41.666675%;
    }

    .offset-xsm-5 {
        margin-left: 41.666675%;
    }

    .colspan-xsm-6,
    .cell-xsm-6,
    .col-xsm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50.00001%;
        flex: 0 0 50.00001%;
        max-width: 50.00001%;
    }

    .offset-xsm-6 {
        margin-left: 50.00001%;
    }

    .colspan-xsm-7,
    .cell-xsm-7,
    .col-xsm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333345%;
        flex: 0 0 58.333345%;
        max-width: 58.333345%;
    }

    .offset-xsm-7 {
        margin-left: 58.333345%;
    }

    .colspan-xsm-8,
    .cell-xsm-8,
    .col-xsm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66668%;
        flex: 0 0 66.66668%;
        max-width: 66.66668%;
    }

    .offset-xsm-8 {
        margin-left: 66.66668%;
    }

    .colspan-xsm-9,
    .cell-xsm-9,
    .col-xsm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75.000015%;
        flex: 0 0 75.000015%;
        max-width: 75.000015%;
    }

    .offset-xsm-9 {
        margin-left: 75.000015%;
    }

    .colspan-xsm-10,
    .cell-xsm-10,
    .col-xsm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33335%;
        flex: 0 0 83.33335%;
        max-width: 83.33335%;
    }

    .offset-xsm-10 {
        margin-left: 83.33335%;
    }

    .colspan-xsm-11,
    .cell-xsm-11,
    .col-xsm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666685%;
        flex: 0 0 91.666685%;
        max-width: 91.666685%;
    }

    .offset-xsm-11 {
        margin-left: 91.666685%;
    }

    .colspan-xsm-12,
    .cell-xsm-12,
    .col-xsm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100.00002%;
        flex: 0 0 100.00002%;
        max-width: 100.00002%;
    }

    .offset-xsm-12 {
        margin-left: 100.00002%;
    }
}